@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  margin: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)),
    url("./Images/netflix-bg.png");
  height: 100vh;
  font-family: "Poppins";
}
.logo {
  margin: 30px 0 20px 50px;
}
header {
  color: #fff;
  font-family: "Poppins";
}
.sign-in {
  background-color: rgb(211, 23, 23);
  border-radius: 4px;
  border-style: none;
  height: 35px;
  width: 83px;
  float: right;
  margin-right: 3%;
}
#sign-in-style {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400px;
}
